{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Ghibli</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--FONTSAWESOME-->
    <link rel="stylesheet" href="{% static 'core/fontawesome/css/all.min.css' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'core/css/apiGhibli.css' %}"> 
    <!--GSAP-->
    <script src= https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js></script>
    
</head>
<body>
  <!--INICIO MENU-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
        <img src="{% static 'core/img/Logo/logofrikitime.png' %}" alt="Logo" id="logo">
      </a>

      <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'principal' %}" class="nav-link">
              <i class="fas fa-home"></i>
              Inicio
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-comment-dollar"></i>
              Venta
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'perifericos' %}"><i class="fas fa-headphones"></i> Perifericos</a>
              <a class="dropdown-item" href="{% url 'consolas' %}"><i class="fab fa-playstation"></i> Consolas</a>
              <a class="dropdown-item" href="{% url 'juegos' %}"><i class="fas fa-gamepad"></i> Videojuegos</a>
              <a class="dropdown-item" href="{% url 'funkos' %}"><i class="fas fa-dice-one"></i> Funko Pop</a>
            </div>
          </li>
          <li class="nav-item active">
            <a href="{% url 'contacto' %}" class="nav-link">
              <i class="fas fa-envelope"></i>
              Contacto
            </a>
          </li>
          <li class="nav-item dropdown" id="wiki">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-asterisk"></i>
              Friki-Wiki
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'ghibli' %}"><i class="fas fa-hand-point-right"></i> Wiki Ghibli</a>
              <a class="dropdown-item" href="{% url 'anime' %}"><i class="fas fa-hand-point-right"></i> Wiki Animes</a>
            </div>
          </li>
          <li class="nav-item dropdown" id="wiki">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-user-lock"></i>
              Admin
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'admin' %}"><i class="fas fa-crown"></i> Zona Admin</a>
              <a class="dropdown-item" href="{% url 'add-producto' %}"><i class="fas fa-plus-square"></i> Agregar</a>
              <a class="dropdown-item" href="{% url 'listadoprod' %}"><i class="fas fa-list-ol"></i> Listado</a>
            </div>
          </li>
        </ul>


        <a href="{% url 'iniciosesion' %}" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-user"></i>
          Iniciar Sesión
        </a>

        <a href="{% url 'registro' %}" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-jedi"></i>
          Registrarse
        </a>

        <p> </p>

        <input type="search" id="input-search" placeholder="Buscar . . .">
        <button type="button" class="btn btn-light mr-sm-4"><i class="fas fa-search"></i></button>

        <div class="content-search">
          <div class="content-table">
            <table id="table">
              <thead>
                <tr>
                  <td></td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><a href="{% url 'consolas' %}">Consolas</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'funkos' %}">Funko pop's</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'perifericos' %}">Perifericos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'juegos' %}">Videouegos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'detalles' %}">Detalles</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'ghibli' %}">Wiki Ghibli</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'anime' %}">Wiki Animes</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </nav>
  </div>

  <p></p>
  <!--TERMINO MENU-->

    <div class="container-fluid"></div>
    <h1 class="text-center">FRIKI-WIKI DE STUDIO GHIBLI</h1>
  
    <p></p>

    <div class="container-fluid"> 
        <div class="card-columns" id="listado">
            <div class="card">
                <img src="#" class= "card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">API GHIBLI</h5>
                    <p class="card-text"><b></b><br><b></b></p>
                </div>
            </div>
        </div>

        <p><br><br><small id="emailHelp" class="form-text text-muted text-center">Todos los derechos reservados © Friki Blinders, 2021</small><br></p>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <!--USO DE BUSCADOR-->
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/js/search.js' %}"></script>

    <!--ApiGhibli-->
    <script src="{% static 'core/js/apiGhibli.js' %}"></script>

    <script src="{% static 'core/js/animacionesApis.js' %}"></script>

    
</body>
</html>