<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--FONTSAWESOME-->
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="CSS/Contacto.css">
</head>

<body>
<!--INICIO MENU--> 
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand">
            <img src="Imagenes/Logo/logofrikitime.png" alt="Logo" id="logo">
          </a>
      
          <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a href="PaginaPrincipal.html" class="nav-link">
                  <i class="fas fa-home"></i>
                  Inicio
                </a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
                  <i class="fas fa-comment-dollar"></i>
                  Venta
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="PaginaPerifericosDet.html"><i class="fas fa-headphones"></i>  Perifericos</a>
                  <a class="dropdown-item" href="PaginaConsolasDet.html"><i class="fab fa-playstation"></i> Consolas</a>
                  <a class="dropdown-item" href="PaginaJuegosDet.html"><i class="fas fa-gamepad"></i> Videojuegos</a>
                  <a class="dropdown-item" href="PaginaFunkosDet.html"><i class="fas fa-dice-one"></i>   Funko Pop</a>
                </div>
                
              </li>
              <li class="nav-item active">
                <a href="Contacto.html" class="nav-link">
                  <i class="fas fa-envelope"></i>
                  Contacto
                </a>
              </li>
              <li class="nav-item dropdown" id="apiGhibli">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
                  <i class="fas fa-asterisk"></i>
                  Friki-Wiki
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="apiGhibli.html"><i class="fas fa-hand-point-right"></i> Wiki Ghibli</a>
                  <a class="dropdown-item" href="apiAnime.html"><i class="fas fa-hand-point-right"></i> Wiki Animes</a>
                </div>
              </li>
            </ul>
    
            <a href="Login.html" role="button" class="btn btn-light mr-sm-4">
              <i class="fas fa-user"></i>
              Iniciar Sesión          
            </a>
            
            <a href="Registro.html" role="button" class="btn btn-light mr-sm-4">
                <i class="fas fa-jedi"></i>
                Registrarse
            </a>
    
            <p> </p>
    
            <input type="search" id="input-search" placeholder="Buscar . . .">
            <button type="button" class="btn btn-light mr-sm-4"><i class="fas fa-search"></i></button>
      
            <div class="content-search">
              <div class="content-table">
                <table id="table">
                  <thead>
                    <tr>
                      <td></td>
                    </tr>
                  </thead>
      
                  <tbody>
                    <tr>
                      <td><a href="PaginaConsolasDet.html">Consolas</a></td>
                    </tr>
      
                    <tr>
                      <td><a href="PaginaFunkosDet.html">Funko pop's</a></td>
                    </tr>
      
                    <tr>
                      <td><a href="PaginaPerifericosDet.html">Perifericos</a></td>
                    </tr>
                    <tr>
                      <td><a href="PaginaJuegosDet.html">Juegos</a></td>
                    </tr>
                    <tr>
                      <td><a href="apiGhibli.html">Wiki Ghibli</a></td>
                    </tr>
                    <tr>
                      <td><a href="apiAnime.html">Wiki Animes</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      
        </nav>
    </div>
<!--TERMINO MENU--> 


    <p></p>

<!--INICIO FORMULARIO CONTACTO--> 
    <div class="container-fluid">
        <h1 class="text-center">Contacto <i class="far fa-paper-plane"></i></h1>
        <div class="row d-flex justify-content-center">
            <form class="formulario" name="contact">

                <div class="form-group">
                <label for="correoElectronico">Correo Electronico<span class="text-danger">*</span> <i class="fas fa-mail-bulk"></i></label>
                <input type="email" class="form-control" id="correoElectronico" name="email">
                </div>

                <div class="form-group">
                    <label for="nombreCompleto">Nombre Completo<span class="text-danger">*</span>  <i class="fas fa-signature"></i></label>
                    <input type="text" class="form-control" id="nombreCompleto" name="name">
                </div>
                
                <div class="form-group">
                    <label for="numeroContacto">Numero de contacto<span class="text-danger">*</span>  <i class="fas fa-mobile-alt"></i></label>
                    <input type="tel" class="form-control" id="numeroContacto" name="number">
                </div>

                <div class="form-group">
                <label for="mensaje">Mensaje<span class="text-danger">*</span> <i class="far fa-envelope"></i></label>
                <textarea class="form-control" id="mensaje" rows="7" name="mensaje" placeholder="Escribe aquí tu mensaje y en un plazo maximo de 2 dias habiles te contactaremos."></textarea>
                </div>
                
                <div class="form-group">
                    <label for="archivo">Si tienes algun documento o archivo a subir hazlo aquí.</label>
                    <input type="file" class="form-control-file" id="archivo">
                </div>
                
                <h6 class="text-center">(<span class="text-danger">*</span>)Campos obligatorios</h6>
                <div class="col text-center button">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-sign-in-alt"></i> Enviar</button>
                </div>

            </form>
        </div>

        <p><br><br><small id="emailHelp" class="form-text text-muted text-center">Todos los derechos reservados © Friki Blinders, 2021</small><br></p>

    </div>
<!--TERMINO FORMULARIO CONTACTO--> 

<!--BOOTSTRAP, JQUERY--> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<!--USO DE BUSCADOR-->
    <script src="JS/jquery.js"></script>
    <script src="JS/jquery.dataTables.min.js"></script>
    <script src="JS/search.js"></script>

<!--VALIDATOR PLUGIN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="JS/contacto.js"></script>
</body>

</html>