{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión</title>
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!--FONTSAWESOME-->
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'core/css/Login.css' %}">
</head>

<body>
  
  <!--INICIO MENU-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
        <img src="{% static 'core/img/Logo/logofrikitime.png' %}" alt="Logo" id="logo">
      </a>

      <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'principal' %}" class="nav-link">
              <i class="fas fa-home"></i>
              Inicio
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-comment-dollar"></i>
              Venta
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'perifericos' %}"><i class="fas fa-headphones"></i>Perifericos</a>
              <a class="dropdown-item" href="{% url 'consolas' %}"><i class="fab fa-playstation"></i> Consolas</a>
              <a class="dropdown-item" href="{% url 'juegos' %}"><i class="fas fa-gamepad"></i> Videojuegos</a>
              <a class="dropdown-item" href="{% url 'funkos' %}"><i class="fas fa-dice-one"></i> Funko Pop</a>
            </div>

          </li>
          <li class="nav-item active">
            <a href="{% url 'contacto' %}" class="nav-link">
              <i class="fas fa-envelope"></i>
              Contacto
            </a>
          </li>
          <li class="nav-item dropdown" id="apiGhibli">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-asterisk"></i>
              Friki-Wiki
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="apiGhibli.html"><i class="fas fa-hand-point-right"></i> Wiki Ghibli</a>
              <a class="dropdown-item" href="apiAnime.html"><i class="fas fa-hand-point-right"></i> Wiki Animes</a>
            </div>
          </li>
        </ul>

        <a href="{% url 'login' %}" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-user"></i>
          Iniciar Sesión
        </a>

        <a href="Registro.html" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-jedi"></i>
          Registrarse
        </a>

        <p> </p>

        <input type="search" id="input-search" placeholder="Buscar . . .">
        <button type="button" class="btn btn-light mr-sm-4"><i class="fas fa-search"></i></button>

        <div class="content-search">
          <div class="content-table">
            <table id="table">
              <thead>
                <tr>
                  <td></td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><a href="{% url 'consolas' %}">Consolas</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'funkos' %}">Funko pop's</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'perifericos' %}">Perifericos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'juegos' %}">Juegos</a></td>
                </tr>
                <tr>
                  <td><a href="apiGhibli.html">Wiki Ghibli</a></td>
                </tr>
                <tr>
                  <td><a href="apiAnime.html">Wiki Animes</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </nav>
  </div>
  <!--TERMINO MENU-->

  <p></p>

  <!--INICIO FORMULARIO INICIO SESION-->
  <div class="container-fluid">
    <div class="row justify-content-center pt-5 mt-5">
      <div class="col-md-4">
        <form class="formulario" name="login">
          <div class="text-center col-12 user-img">
            <img
              src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
              alt="avatar">
          </div>
          <h1>Iniciar Sesión</h1>

          <div class="form-group">
            <div class="form-group">
              <label for="cuentalogin"><i class="fas fa-user"></i> Correo electrónico</label>
              <input type="email" class="form-control" id="cuentalogin" name="email">
            </div>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><i class="fas fa-lock"></i> Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="contraseña">
            <p></p>
            <a href="Registro.html">
              <p class="text-center">
                ¿Aún no tienes tu cuenta? Hazla aquí
              </p>
            </a>
            <small id="helpEmail" class="form-text text-muted text-center seguridad">Nunca compartiremos su correo
              electrónico,
              ni su contraseña.</small>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">No olvidar</label>
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p><br><br><small id="emailHelp" class="form-text text-muted text-center">Todos los derechos reservados © Friki
      Blinders, 2021</small><br></p>

  <!--TERMINO FORMULARIO INICIO SESION-->

  <!--BOOTSTRAP, JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>

  <!--USO DE BUSCADOR-->
  <script src="JS/jquery.js"></script>
  <script src="JS/jquery.dataTables.min.js"></script>
  <script src="JS/search.js"></script>

  <!--VALIDATOR PLUGIN-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="JS/login.js"></script>
</body>

</html>