{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!--FONTSAWESOME-->
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'core/css/PaginaPrincipal.css' %}">

</head>

<body>

  <!--INICIO MENU-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
        <img src="{% static 'core/img/Logo/logofrikitime.png' %}" alt="Logo" id="logo">
      </a>

      <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'principal' %}" class="nav-link">
              <i class="fas fa-home"></i>
              Inicio
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-comment-dollar"></i>
              Venta
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'perifericos' %}"><i class="fas fa-headphones"></i>Perifericos</a>
              <a class="dropdown-item" href="{% url 'consolas' %}"><i class="fab fa-playstation"></i> Consolas</a>
              <a class="dropdown-item" href="{% url 'juegos' %}"><i class="fas fa-gamepad"></i> Videojuegos</a>
              <a class="dropdown-item" href="{% url 'funkos' %}"><i class="fas fa-dice-one"></i> Funko Pop</a>
            </div>
          </li>
          <li class="nav-item active">
            <a href="{% url 'contacto' %}" class="nav-link">
              <i class="fas fa-envelope"></i>
              Contacto
            </a>
          </li>
          <li class="nav-item dropdown" id="apiGhibli">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-asterisk"></i>
              Friki-Wiki
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="apiGhibli.html"><i class="fas fa-hand-point-right"></i> Wiki Ghibli</a>
              <a class="dropdown-item" href="apiAnime.html"><i class="fas fa-hand-point-right"></i> Wiki Animes</a>
            </div>
          </li>
        </ul>


        <a href="{% url 'login' %}" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-user"></i>
          Iniciar Sesión
        </a>

        <a href="Registro.html" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-jedi"></i>
          Registrarse
        </a>

        <p> </p>

        <input type="search" id="input-search" placeholder="Buscar . . .">
        <button type="button" class="btn btn-light mr-sm-4"><i class="fas fa-search"></i></button>

        <div class="content-search">
          <div class="content-table">
            <table id="table">
              <thead>
                <tr>
                  <td></td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><a href="{% url 'consolas' %}">Consolas</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'funkos' %}">Funko pop's</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'perifericos' %}">Perifericos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'juegos' %}">Videouegos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'detalles' %}">Detalles</a></td>
                </tr>
                <tr>
                  <td><a href="apiGhibli.html">Wiki Ghibli</a></td>
                </tr>
                <tr>
                  <td><a href="apiAnime.html">Wiki Animes</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </nav>
  </div>

  <p></p>
  <!--TERMINO MENU-->

  <!--INICIO CARRUSEL-->
  <div class="container-fluid">
    <div class="text-center">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active img-fluid imagen 1">
            <img class="d-block w-50" src="{% static 'core/img/CarruselPrincipal/gaming-pc-1200x675.jpg' %}" alt="Perifericos">
            <div class="carousel-caption d-none d-md-block">
              <h5>Perifericos</h5>
              <a href="{% url 'perifericos' %}">VER MÁS... </a>
            </div>
          </div>

          <div class="carousel-item img-fluid imagen 2">
            <img class="d-block w-50" src="{% static 'core/img/CarruselPrincipal/funko_pops.png' %}" alt="Funkos">
            <div class="carousel-caption d-none d-md-block">
              <h5>Funko Pop's</h5>
              <a href="{% url 'funkos' %}">VER MÁS... </a>
            </div>
          </div>

          <div class="carousel-item img-fluid imagen 3">
            <img class="d-block w-50" src="{% static 'core/img/CarruselPrincipal/consolas_320866.jpg' %}" alt="Consolas">
            <div class="carousel-caption d-none d-md-block">
              <h5>Consolas</h5>
              <a href="{% url 'consolas' %}">VER MÁS... </a>
            </div>
          </div>

          <div class="carousel-item img-fluid imagen 4"> 
            <img class="d-block w-50" src="{% static 'core/img/CarruselPrincipal/fidelidad-plataformas-consolas-1850829.jpg' %}"
              alt="Juegos consolas">
            <div class="carousel-caption d-none d-md-block">
              <h5>Videojuegos</h5>
              <a href=PaginaJuegosDet.html>VER MÁS... </a>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>
  </div>
  <!--TERMINO CARRUSEL-->
  <p></p>

  <div class="container-fluid"></div>
  <h1 class="text-center">DESTACADOS</h1>

  <p></p>
  <!--INICIO CARD-->
  <!--<button type="button" class="btn btn-secondary btn-block">CONTAINER FLUID</button>-->
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="Imagenes/Funkos/mandalorian-the-child.jpg" alt="Funko pop Mandalorian">
        <div class="card-body">
          <h5 class="card-title">FUNKO POP STAR WARS: THE MANDALORIAN</h5>
          <a href="PaginaDetalles.html" class="btn btn-info btn-md active" role="button"
            aria-pressed="true">DETALLES</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">24.990 $ CLP</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="Imagenes/Videojuegos/outridersps4.jpg" alt="Juego ps4">
        <div class="card-body">
          <h5 class="card-title">OUTRIDERS - PS4</h5>
          <a href="PaginaDetalles.html" class="btn btn-info btn-md active" role="button"
            aria-pressed="true">DETALLES</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">44.990 $ CLP</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="Imagenes/Perifericos/cascosblancos.jpg" alt="Audifonos steelseries" width="468"
          height="468">
        <div class="card-body">
          <h5 class="card-title">AUDIFONOS STEELSERIES SIBERIA V2 FROST BLUE</h5>
          <a href="PaginaDetalles.html" class="btn btn-info btn-md active" role="button"
            aria-pressed="true">DETALLES</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">39.990 $ CLP</small>
        </div>
      </div>

    </div>

  </div>

  <p></p>

  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="Imagenes/Videojuegos/marions.jpg" alt="Juego Nintendo Switch">
        <div class="card-body">
          <h5 class="card-title">MARIO KART 8 DELUXE - NINTENDO SWITCH</h5>
          <a href="PaginaDetalles.html" class="btn btn-info btn-md active" role="button"
            aria-pressed="true">DETALLES</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">39.990 $ CLP</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="Imagenes/Videojuegos/codxbox.jpg" alt="Juego xbox">
        <div class="card-body">
          <h5 class="card-title">COD: MODERN WARFARE - XBOX ONE</h5>
          <a href="PaginaDetalles.html" class="btn btn-info btn-md active" role="button"
            aria-pressed="true">DETALLES</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">44.990 $ CLP</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="Imagenes/Perifericos/mouseblanco.jpg" alt="Mouse logitech blanco">
        <div class="card-body">
          <h5 class="card-title">MOUSE LOGITECH G203 LIGHTSYNC BLANCO</h5>
          <a href="PaginaDetalles.html" class="btn btn-info btn-md active" role="button"
            aria-pressed="true">DETALLES</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">24.990 $ CLP</small>
        </div>
      </div>

    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center" id="tiempo">
      <div class="card weather">
          <img src="Imagenes/iconoApiClima/2639.png" class="card-img-top weather-icon" alt="Sin Dato" id="imagen-clima">
          <div class="card-body">
              <h5 class="card-title weather-descrip">Sin Datos</h5>
              <p class="card-text weather-temp"><b>geolocalización no compartida</b><br><b></b></p>
          </div>
      </div>
    </div>
    

  </div>

  <p><br><br><small id="emailHelp" class="form-text text-muted text-center">Todos los derechos reservados © Friki Blinders, 2021</small><br></p>

  <!--TERMINO CARDS-->

  <!--OTROS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <script src="JS/jquery.js"></script>
  <script src="JS/jquery.dataTables.min.js"></script>
  <script src="JS/search.js"></script>
  <script src="JS/openWeatherMap.js"></script>
</body>

</html>