{% load static %}

<!doctype html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <!--CSS-->
  <link href="{% static 'core/css/Registro.css' %}" rel="stylesheet">
  <!--FONTSAWESOME-->
  <link rel="stylesheet" href="{% static 'core/fontawesome/css/all.min.css' %}">
</head>

<body>
  <!--INICIO MENU-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
        <img src="{% static 'core/img/Logo/logofrikitime.png' %}" alt="Logo" id="logo">
      </a>

      <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'principal' %}" class="nav-link">
              <i class="fas fa-home"></i>
              Inicio
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-comment-dollar"></i>
              Venta
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'perifericos' %}"><i class="fas fa-headphones"></i> Perifericos</a>
              <a class="dropdown-item" href="{% url 'consolas' %}"><i class="fab fa-playstation"></i> Consolas</a>
              <a class="dropdown-item" href="{% url 'juegos' %}"><i class="fas fa-gamepad"></i> Videojuegos</a>
              <a class="dropdown-item" href="{% url 'funkos' %}"><i class="fas fa-dice-one"></i> Funko Pop</a>
            </div>
          </li>
          <li class="nav-item active">
            <a href="{% url 'contacto' %}" class="nav-link">
              <i class="fas fa-envelope"></i>
              Contacto
            </a>
          </li>
          <li class="nav-item dropdown" id="wiki">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-asterisk"></i>
              Friki-Wiki
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'ghibli' %}"><i class="fas fa-hand-point-right"></i> Wiki Ghibli</a>
              <a class="dropdown-item" href="{% url 'anime' %}"><i class="fas fa-hand-point-right"></i> Wiki Animes</a>
            </div>
          </li>
        </ul>


        <a href="{% url 'login' %}" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-user"></i>
          Iniciar Sesión
        </a>

        <a href="{% url 'registro' %}" role="button" class="btn btn-light mr-sm-4">
          <i class="fas fa-jedi"></i>
          Registrarse
        </a>

        <p> </p>

        <input type="search" id="input-search" placeholder="Buscar . . .">
        <button type="button" class="btn btn-light mr-sm-4"><i class="fas fa-search"></i></button>

        <div class="content-search">
          <div class="content-table">
            <table id="table">
              <thead>
                <tr>
                  <td></td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><a href="{% url 'consolas' %}">Consolas</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'funkos' %}">Funko pop's</a></td>
                </tr>

                <tr>
                  <td><a href="{% url 'perifericos' %}">Perifericos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'juegos' %}">Videouegos</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'detalles' %}">Detalles</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'ghibli' %}">Wiki Ghibli</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'anime' %}">Wiki Animes</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </nav>
  </div>

  <p></p>
  <!--TERMINO MENU-->
  <!--INICIO CONTACT BOX-->
  <div class="container-fluid">
    <section class="contact-box" id="contacto">
      <div class="row no-gutters bg-dark" id="cuadro">
        <div class="col-xl-5 col-lg-12 register-bg">
          <div class="position-absolute testiomonial p-4">
            <h2 class="font-weight-bold text-light">FrikiTime</h2>
            <p class="lead text-light">La tienda más Friki</p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-12 d-flex">
          <div class="container align-self-center p-6">
            <h1><i class="fas fa-jedi"></i> Crear Cuenta</h1>
            <div class="form-group">
            </div>
            <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>


            <form id="registro" name="registro">
              <div class="form-row mb-2">
                <div class="form-group col-md-6">
                  <label class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" placeholder="Tu nombre" id="nombre" name="name">
                </div>
                <div class="form-group col-md-6">
                  <label class="font-weight-bold">Apellido <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" placeholder="Tu apellido" id="Apellido" name="surname">
                </div>
              </div>
              <div class="form-group mb-3">
                <label class="font-weight-bold">Rut <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Formato: 11.111.111-1" id="rut" name="rut">
              </div>
              <div class="form-group mb-3">
                <label class="font-weight-bold">Correo electrónico <span class="text-danger">*</span></label>
                <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico" id="correo" name="email">
              </div>
              <div class="form-group mb-3">
                <label class="font-weight-bold">Contraseña <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Ingresa una contraseña" id="contra" name="password">
              </div>
              <div class="form-group mb-3">
                <label class="font-weight-bold">Teléfono <span class="text-danger">*</span></label>
                <input type="tel" class="form-control" placeholder="Ejemplo: 9 9999 9999" id="numero" name="number">
              </div>
              <div class="form-group mb-5">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label text-muted" id="check">Al seleccionar esta casilla aceptas nuestro aviso de
                    privacidad y los términos y condiciones</label>
                </div>
              </div>
              <button class="btn btn-primary width-100" id="boton-crear"><i class="fas fa-arrow-right"></i> Crear Cuenta FrikiTime</button>
            </form>
            <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2021 FrikiTime</small>
          </div>
        </div>
      </div>
    </section>
  </div>

  <p><br><br><small id="emailHelp" class="form-text text-muted text-center">Todos los derechos reservados © Friki Blinders, 2021</small><br></p>
  
  <!--TERMINO CONTACT BOX-->

  <!--OTROS-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!--USO DE BUSCADOR-->
  <script src="{% static 'core/js/jquery.js' %}"></script>
  <script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'core/js/search.js' %}"></script>

  <!--Validador-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="{% static 'core/js/registro.js' %}"></script>
</body>

</html>