body{
    background-color:rgb(46, 46, 46)
}

#logo {
    width: 85px;
    height: 38px;
    
}

.body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: sans-serif;
}

.box{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate( -50%, -50%);
}

input.src{
    padding: 2px 10px 4px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #fff;
    background: #fff url("search-icon.png")
        no-repeat 9px center;
    width: 105px;
    transition: all .5s;
}

input.src:hover{
    width: 300px;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px #6dcff680;

}

h1{
    color: white;
    text-shadow: 1.5px 1.5px gray;
    font-family: sans-serif;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}


#input-search{
    width: 300px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-indent: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.content-search{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 73.2%;
    display: none;
    z-index: 8;
    list-style: none;
}

.content-table{
    width: 19.8%;
    max-height: 200px;
    height: auto;
    background: rgba(0,0,0,0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;

}

.content-table table{
    width: 100%;
}

tbody tr td a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

tbody tr td a:hover{
    background: rgba(0,0,0,0.3);
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}

h1{
    color: white;
    text-shadow: 1.5px 1.5px gray;
    font-family: sans-serif;

}


.weather { 
    background-color: #867373;
    height: 150px;
    width: -150px;
}

.weather-icon {
    width: 45px;
    display: block;
    margin: auto;
    
}


.weather-descrip {
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
    text-transform: capitalize;
}

.weather-temp {
    margin-top: -15px;
    font-size: 15px;
    text-align: center;
    margin-top: -5;
}
